<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>

	<section>

		<div class="container ">
			<div class="row">
				<div class="col-md-6 offset-md-3 ">
					<div class="my-card  mt-5">
						<h1 class="text-center mt-1">Login Here!!!</h1>
						<div th:if="${param.error}" class="alert alert-danger">
						Invalid Email Or Password
						</div>
						<div th:if="${param.logout}" class="alert alert-success">
						Logout Sucessfully!
						</div>
						<div>
							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
						</div>
						<div th:if="${session.message}"
								th:classappend="${session.message.type}" class="alert "
								role="alert">
								<p th:text="${session.message.content}"></p>
								<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
							</div>
						<form action="/login" method="post">
							

							<!-- User email field -->
							<div class="form-group">
								<label for="email">User Email</label><input type="email"
									name="username" id="email"
									placeholder="Enter User Email Here" class="form-control">
							</div>

							

							<!-- User password field -->
							<div class="form-group">
								<label for="userPassword">Password</label><input type="password"
									name="password" id="userPassword"
									placeholder="Enter Passwrd Here" class="form-control">
							</div>

							<!-- Button -->
							<div class="text-center">
							<button class="btn btn-outline-primary " type="submit">Login</button>
							</div>
							
							<!-- forgot password field -->
							<div class="text-center mt-2">
								<a th:href="@{/forgot-password} " class="text-decoration-none">Forgot-password?</a>
							</div>


						</form>
					</div>
				</div>
			</div>
		</div>

	</section>

	
	
</body>
</html>